{
  "extends": "airbnb",
  "env": {
    "browser": true,
  },
  "parser": 'babel-eslint',
  "rules": {
    "max-len": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-useless-escape": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/label-has-for": 0,
    "no-undef": 0,
    "no-plusplus": 0,
    "no-unused-vars": 0,
    "react/no-unused-state": 0,
    "react/prefer-stateless-function": 0,
    "prefer-destructuring": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
  }
}
