// colors
$black: #262729;
$white: #fff;
$lightGray: #f8f8f8;
$darkGray: #707070;
$red: #e84646;
$blue: #86b8eb;
$green: #a0d3bb;

// fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$fontRoboto: 'Roboto', sans-serif;
